<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>21</Pages>
  <Words>3642</Words>
  <Characters>5378</Characters>
  <TotalTime>1</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>5713</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.26375_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
